version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      - DEBUG=1
      # Uncomment and set the following variables to enable SMTP email sending
      - EMAIL_BACKEND=smtp
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_PORT=587
      - EMAIL_USE_TLS=True
      - EMAIL_HOST_USER=jack.contro.95@gmail.com
      - EMAIL_HOST_PASSWORD=pdih noeb brbh iakt
      - DEFAULT_FROM_EMAIL=jack.contro.95@gmail.com
